.main-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-gap: 1px 1px;
    background-color: grey;
    height: 50vh;
    width: 100vw;
}

.main-item1 { grid-area: 1 / 1 / 2 / 2; background-color: thistle; }
.main-item2 { grid-area: 2 / 2 / 2 / 1; background-color: rgb(206, 184, 184); }
.main-item3 { grid-area: 1 / 2 / 3 / 4; background-color: thistle; }

.selected { background-color: peru;}